<div class="post container">
    <div class="post-header-section">
        <h1>{{ .Title }}</h1>
        <small role="doc-subtitle">{{ .Description }}</small>
        <p class="post-date">
            {{ dateFormat "January 2, 2006" .Date }}
        </p>

        <ul class="post-tags">
        {{ range .Params.tags }}
            <li class="post-tag"><a href="{{ "/tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
    </div>

    <div class="post-content">
        <p>
            {{ .Content }}
        </p>
    </div>
    <iframe src="https://github.com/sponsors/arturgoms/card" title="Sponsor arturgoms" height="100" width="100%" style="border: 0;"></iframe>
    <script src="https://utteranc.es/client.js"
        repo="arturgoms/personal-site"
        issue-term="title"
        label="post"
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
</div>
